body{
    color: #333;
    font-family: Arial, "\5B8B\4F53", Helvetica, sans-serif;
    font-size: 12px;
}
ul,li,dl,dd{
    margin:0;
    padding: 0;
    list-style: none;
}
a:link, a:visited{
    color: #0041d9;
    text-decoration: none;
}
a:hover{
    color: #f60;
    text-decoration: underline;
}
#map_block .title {
    font-size: 16px;
    cursor: pointer;
    color: #0041d9;
}
.title .hover{
    color: #333;
    font-weight: bold;
    cursor: default;
}
.title .sep{
    color: #999;
    padding: 0 10px;
}
#map_block .c{
    width: 1032px;
    height: 366px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding:18px 25px 25px 21px;

}

.chks li{
    float: left;
    margin-right: 32px;
    _margin-right: 34px;
    font-size: 14px;
}
.chks li label{
}
.chks li .tip{
    background: url("tip.png") 0 0 #62ab00;
    padding: 8px;
    line-height: 0;
    height: 0;
    position: relative;
    top: 2px;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    _left:-3px;

}
.chks  .trafic .tip {
    background-position: 3px -25px;
}
.chks  .school .tip {
    background-position: 0px -58px;
}
.chks  .hospital .tip {
    background-position: 0px -720px;
}
.chks  .restaurant .tip {
    background-position: 3px -25px;
}
.chks  .bank .tip {
    background-position: 3px -25px;
}
.chks  .market .tip {
    background-position: 3px -25px;
}
#map_block .l{
    width: 640px;
    height: 270px;
    float: left;
}
#map_block .r{
    float: right;
}
.l #map_container{
    width: 100%;
    height: 270px;
}
.l .ms{
    line-height: 23px;
    text-indent: 18px;
    border: 1px solid #e3e3e3;
}
.l .ms a{
    margin-right: 1em;
}
.l .ms_l,.l .ms_r{
    float: left;
    width: 42%;
}
.l .ms_r{
    width: 55%;
}
.l .addr_tip,.r .addr_tip{
    padding-left: 15px;
    background: url("tip.png") 0 -449px no-repeat;
    margin-left: 1em;
}
.l .bottom{
    border: 1px solid #e3e3e3;
    padding: 7px;
    padding-left: 15px;
    background: #e3e3e3;
}
.l .bottom b{
    font-size: 14px;
}
.l .bottom .begain,.l .bottom .end{
    display: inline-block;
    width: 190px;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
    margin-left: 2px;
}
.begain label,.end label{
    line-height: 30px;
    padding-left: 3px;
    border-left: 3px solid #fe6700;
    height: 30px;
    display: inline-block;
    padding-right:3px;

}
.l .end label{
    border-left: 3px solid #390;
}
.begain input,.end input{
    vertical-align: middle;
    border: none;
    border-left:1px solid #ccc ;
    height: 17px;
    padding-left: 5px;
    line-height: 17px;
    width: 120px;
    color: #333;
}
.l .change{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('tip.png') 7px -475px #ebebeb;
    vertical-align: middle;
    cursor: pointer;
}
.l input:focus{
    outline: none;
}
.l .btn:link,.l .btn:visited{
    display: inline-block;
    width: 60px;
    background-color: #62ab00;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    height: 31px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    text-decoration: none;
}
.l .btn:hover{
    background: #4a8200;
}
#map_block .auto{
    overflow-y: scroll;
    position: relative;
}
#map_block .chks{
    -webkit-user-select:none;
    margin-bottom: 8px;
}
.r{
    height: 342px;
    font-size: 12px;
    width: 360px;

}
.r .scroll_obj{
    height: 318px;
    overflow-y:scroll;

}

.r .tab{
    border-bottom: 1px solid #dfdfdf;
}
.tab span{
    width: 86px;
    border:1px solid #dfdfdf;
    display: inline-block;
    line-height: 22px;
    height: 22px;
    text-align: center;
    position: relative;
    bottom: -1px;
    cursor: pointer;
    background: url("tip.png") 0 -620px #fbfbfb no-repeat;
    text-indent: 1em;
}
.tab .bybus{
    background-position: 22px -617px;
}
.tab .bycar{
    background-position: 18px -651px;
}

.tab .hover{
    border-bottom: 1px solid #fff;
    background-color: #fff;
    cursor: default;
}
.r .gre{
    line-height: 45px;
    position: relative;
}
.r .gre .g{
    color: #60ab00;
    font-weight: 700;
}
.r .gre .long{
    position: absolute;
    left: 185px;
}
.gre .right_tip{
    width: 25px;
    display: inline-block;
    height: 11px;
    background: url("tip.png") 0 -689px;
}
.way .begain,.way .end{
    padding-left: 37px;
    background: url("bus.png") 0 0 no-repeat;
    line-height: 28px;
    margin:6px 0;
    font-weight: bold;

}
.way .end{
    background-position: 0 -26px;
}
.way ul{
    border-top:1px solid #e6e6e6;
    margin-left: 37px;
}
.way li{
    padding: 7px 0;
    line-height: 22px;
    border-bottom:1px solid #e6e6e6;
}
.way li a{
    padding: 0 5px;
}
.r .select{
    margin-bottom: 10px;
}
.r .select dd{
    display: none;
}
.r .select dt{
    background: #fd9;
    height: 30px;
    line-height: 30px;
    color: #f90;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
   /* width: 339px;*/
    padding-right: 40px;
    padding-left: 70px;
}
.r .select label{
    font-weight: 400;
    padding-left: 25px;
    line-height: 30px;
    display: inline-block;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 0;
    background: url("tip.png") 0 -535px no-repeat;
}
.r .select dt .tip{
    position: absolute;
    width: 10px;
    cursor: pointer;
    right: 20px;
    top: 10px;
    font-size: 0;
    height: 8px;
    background: url("tip.png") 0 -512px no-repeat;
}
.r .q dd{
    display: block;
}
.r .q dt{
    color: #5fab00;
    background: #d5edb4;
}
.r .q dt .tip{
    display: none;
}
.r .q label{
    background-position: 0 -575px;

}
.r dt .txt{
    width: 230px;
    text-overflow:ellipsis;
    overflow: hidden;
}
.r .q dd{
    position: relative;
    line-height: 19px;
    padding-right: 134px;
    padding: 5px 0;
}
.r .select dd .tip{
    display: inline-block;
    position: absolute;
    right: 30px;
    width: 82px;
    height: 30px;
    background: #62ab00;
    text-align: center;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    top: 5px;
    display: none;
}
.r .q .hover{
    background: #f7f7f7;
}
.r .q .hover .tip{
    display:inline-block ;
}
.r .select .select_item *{
    width: 226px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.r .select_item div{
    color: #999;
}

/**　普通项　begain **/
.r .item{
    margin-bottom: 16px;
    position: relative;
}
.r .item dt{
    font-size: 14px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 8px;
}
.r .item dd{
    position: relative;
    line-height: 22px;
    padding: 7px 30px;
    padding-right: 48px;
    border-bottom: 1px dashed #ebebeb;
}
.r .item label{
    display: inline-block;
}
.r .item em{
    position: absolute;
    right: 10px;
    font-style: normal;
}
.r .item .tip{
    background: url("tip.png") 2px -221px #2fb1ff;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    _left:-30px;
    top:9px;
}
.r .item .hover .tip{
    background-color: #f90;
}
.r .item .hover{
    background: #F7F7F7;
}
.r .trafic .tip{
    background-position:2px -221px ;
}
.r .school .tip{
    background-position:1px -255px ;

}
.r .def{
    width: 368px;
    margin-left: 2px;
    position: relative;
    top:6px;
}
.r .region{
    margin: 20px 0 40px 0;
    position: relative;
}
.r .def .font_b{
    font-size: 14px;
    margin-bottom: 10px
}
.r .region em{
    position: absolute;
    right: 10px;
    top: 0px;
    font-style: normal;
    font-size: 14px;
}

.r .region .btn:link,.r .region .btn:visited{
    display: inline-block;
    width: 156px;
    height: 34px;
    background: #ff8a3c;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 10px;
}
.r .region .btn:hover{
    background: #f60;
}

.overlay{
    color: #fff;
    background: #f60;
    line-height: 30px;
    border: 1px solid #fff;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
}
.overlay .tip{
    background: url("tip.png") 0 -1px no-repeat;
    position: absolute;
    left: 7px;
    top: 31px;
    width: 15px;
    height: 16px;
}


/**　普通项　end **/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */